<?xml version="1.0" encoding="utf-8"?>

<manifest 	xmlns:android="http://schemas.android.com/apk/res/android"
      		package="ie.clarity.cyclingplanner"
      		android:versionName="@string/version" android:versionCode="100">
    
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>

<application android:label="@string/app_name" android:icon="@drawable/logo" android:debuggable="false">
        
        <uses-library android:name="com.google.android.maps" />
        
        <activity android:name=".View.SplashActivity" android:screenOrientation="portrait">
        	<intent-filter>	<!-- The following 2 intents make the SplashActivity the launch Activity -->
                <action 	android:name="android.intent.action.MAIN" />
                <category 	android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        
        </activity>
        
        <activity android:name="MenuActivity" android:screenOrientation="behind"></activity>
        
        <activity android:name=".View.HelpActivity"></activity>
        
        <activity android:name="SettingsActivity"></activity>
        <activity android:name=".View.MainActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".View.PlanRouteActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".View.FinishStatsActivity"></activity>
        <activity android:name=".View.FinishQuitActivity"></activity>
        <service android:name=".Model.RecordingService"></service>
        <activity android:name=".View.SelectCoordsActivity" android:screenOrientation="portrait"></activity>

    </application>

    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="7"/>

</manifest>